.bg-gradiant {
  background: radial-gradient(rgba(63, 146, 131, 0.774) 1%,  rgba(3, 4, 12, 0) 60%);
  width: 90vw;
  height: 160vh;
  position: absolute;
  top: -60vh;
  left: -40vw;
  z-index: 1;
}
#content {
    box-shadow: 0px 50px 50px 80px hsla(234,55%,3%,1) inset;
  background-color: transparent;
  background-image: linear-gradient(
      0deg,
      transparent 25%,
      rgba(255, 255, 255, 0.05) 5%,
      rgba(255, 255, 255, 0.05) 6%,
      transparent 26%,
      transparent 76%,
      rgba(255, 255, 255, 0.05) 5%,
      rgba(255, 255, 255, 0.05) 6%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 26%,
      rgba(255, 255, 255, 0.05) 5%,
      rgba(255, 255, 255, 0.05) 6%,
      transparent 27%,
      transparent 76%,
      rgba(255, 255, 255, 0.05) 5%,
      rgba(255, 255, 255, 0.05) 6%,
      transparent 77%,
      transparent
    );
  height: 100%;
  background-size: 300px 300px;
  z-index: -2;

}

.socialBtn {
  border-radius: 50%;
  border: 1px solid #3D3D45;
  margin: 0 7px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #76F5BC;
}
.socialBtn:hover {
  background-color: #3D3D45;
  color: white;
}
