.bg-gradiant {
  background: radial-gradient(rgba(63, 146, 131, 0.774) 1%,  rgba(3, 4, 12, 0) 60%);
  width: 90vw;
  height: 160vh;
  position: absolute;
  top: -60vh;
  left: -40vw;
  z-index: 1;
}


.socialBtn {
  border-radius: 50%;
  border: 1px solid #3D3D45;
  margin: 0 7px;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #76F5BC;
}
.socialBtn:hover {
  background-color: #3D3D45;
  color: white;
}
