.s-logo {
  width: 100px;
  height: 100px;
  border: 1px solid #3d3d45;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-logo img {
  width: 50px;
  height: 50px;
}

.s-logo:hover{
    border: 1px solid #76F5BC;
}