@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:hsla(234,55%,3%,1);
  color: #ffff;
  font-family: "Inter", sans-serif;
}
.back-color{
  background: linear-gradient(to right, #FF9C8D ,  #570BFB);
}
.gradient-text{
  background: linear-gradient(to right, #FF9C8D, #DE63A0, #DE63A0,#570BFB, #570BFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#content {
  box-shadow: 0px 50px 50px 80px hsla(234,55%,3%,1) inset;
background-color: transparent;
background-image: linear-gradient(
    0deg,
    transparent 25%,
    rgba(255, 255, 255, 0.05) 5%,
    rgba(255, 255, 255, 0.05) 6%,
    transparent 26%,
    transparent 76%,
    rgba(255, 255, 255, 0.05) 5%,
    rgba(255, 255, 255, 0.05) 6%,
    transparent 77%,
    transparent
  ),
  linear-gradient(
    90deg,
    transparent 26%,
    rgba(255, 255, 255, 0.05) 5%,
    rgba(255, 255, 255, 0.05) 6%,
    transparent 27%,
    transparent 76%,
    rgba(255, 255, 255, 0.05) 5%,
    rgba(255, 255, 255, 0.05) 6%,
    transparent 77%,
    transparent
  );
height: 100%;
background-size: 300px 300px;
z-index: -2;

}

.right-bg-gradiant{
  background: radial-gradient(#de63a188 1%,  rgba(3, 4, 12, 0) 60%);
  width: 50vw;
  height: 100vh;
  position: absolute;
  bottom: -200vh;
  right: -20vw;
  z-index: 1;
}
button:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
