@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:hsla(234,55%,3%,1);
  color: #ffff;
  font-family: "Inter", sans-serif;
}
.gradient-text{
  background: linear-gradient(to right, #FF9C8D, #DE63A0, #DE63A0,#570BFB, #570BFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


button:hover {
  transform: scale(1.1);
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
